title {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
}

#new-book-container {
  width: 50%;
  padding: 10px;
  margin: auto;
  border: 3px solid green;
  box-sizing: border-box;
  background-color: #F8F8FF;
}

#new-book-form {
  text-align: center;
}

input {
  font-size: 1.5em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 50px;
  background-color: #FFF5EE;
}

ul {
  margin: 50px 20px;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  color: green;
}

img#edit {
  height: 10px;
  width: 10px;
}

img#delete {
  height: 10px;
  width: 10px;
}

.editable {
  border: 1px solid black;
  padding: 20px;
}

#books-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
