title {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding-left: 12%;
  padding-top: 0.5%;
}

#books-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

#new-book-container {
  box-sizing: border-box;
  border: 2px solid #F8F8FF;
  margin: auto;
  width: 70%;
  padding: 20px;
  text-align: center;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  border: 1px solid #7C7C7F;
  background-color: #FFFFFF;
}

#books-container {
  padding-left: 20px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

li {
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

a:hover {
  color: #7C7C7F;
}

button {
  border: 1px solid #7C7C7F;
  background-color: #FFFFFF;
}

input[type='image'] {
  border: 2px solid #F8F8FF;
  height: 12px;
  width: 12px;
}

#book-show ul {
  margin-bottom: 50px;
}

#new-comment-body {
  margin-bottom: 12px;
}
